
body {
    background-color: lightgrey;
}

#posterCard {
    width: 350px;
    height:  490px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}


#topLeftImg {
    z-index: 30;
}

#bottomRightImg {
    z-index: 30;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 0;
}

#posterImg {
  background-image: url('strawberry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 306px;
  width: 219px;
  bottom: 35%;
  left: 64px;
  z-index: 40;
  position: inherit;
  opacity: 0.4;
  border-radius: 125px;
}

#posterContent {
  height: 306px;
  bottom: 25%;
  z-index: 40;
  position: absolute;
  right: 64px;
}

.mainFont {
    font-family: "Playfair Display", Arial, sans-serif;
}

.secondaryFont {
    font-family: "Bebas Neue", Arial, sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #6B0E0C;
    line-height: 15px;
}


h2 {
    font-weight: bold;
    color: #6B0E0C;
}

h3 {
    font-weight: bold;
    color: #6B0E0C;
}

h4 {
    color: #333333;
}

p {
    color: #333333;
    line-height: 5px;
}